---

//Frontmatter: codigo que se va a ejecutar en el servidor.
import fs from 'fs';
let data1;
let data2;
let data3 = " 1 = Sigma = Σ \n\n 5 = Lambda = Λ \n\n 9 = Sigma/Omega = ΣΩ \n\n 10 = Omega = Ω \n\n 40 = Omega/Delta = ΩΔ \n\n 50 = Delta = Δ \n\n 90= Omega/Phi = ΩΦ \n\n 100 = Phi = Φ \n\n 500 = Psi = Ψ \n\n 1000 = Xi = Ξ";

try {
  data1 = fs.readFileSync("public/glifos.txt","utf-8");
} catch (error) {
  console.log("error, archivo no encontrado");
  data1="";
}
try {
  data2=fs.readFileSync("public/salidaglifos.txt","utf-8");
} catch (error) {
  console.log("error, archivo 2 no encontrado");
  data2="";
}

---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Live TrΛslΛtΩr</title>
  </head>
      
  <body>
    <main>
      <header >
        <h1></h1>
      </header>
      <section class = "principal">
        <div class="contenedor">
          <form>
            <div class="contenedor">
             <div class="entry">
              <label for="input">Numero entero</label>
              <textarea name="input" id="1" class="input" placeholder="Escribe aca para traducir..." >{data1}</textarea>
             </div>
          
             <div class="entry">
              <label for="output">Glifo/palabra</label>
              <textarea name="output"  id="2" class="output" readonly>{data2}</textarea>
             </div>
            </div>
           
           <div>
            <button type="submit" class="btn" id="ag">Guardar</button>
           </div>
           
          </form>
        </div>
          <div>
            <div class="entry">
            <label>Glifo</label>
            <textarea name="outputG"  id="3" class="outputG" readonly >{data2}</textarea>
          </div>
        </div> 
        <div>
          <label>Tabla de conversion</label>
          <textarea name="conv" id="4" readonly>{data3}</textarea>
        </div>
      </section>
    
    </main>
  </body>

  <script src="/src/scripts/app.js"></script>

</html>

<style>
  
  h1 {
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0rem 0rem 0.5rem orange;
    font-size: 4rem;
  }
  h1::before{
    content: "Live";
    color: black;
    text-shadow: 0rem 0rem 0.2rem black;
    background-color: orange;
  }
  h1::after{
    content: "TrΛslΛtΩr";
  }
  body{
    padding: 1rem;
    display: flex;
    align-items: center;
    background: #000000;
    
    justify-content: center;
    

  }
  textarea{
    transition: 500ms;
    resize: none;
    height: 10rem;
    width: 20rem;
    border-radius: 1rem;
    border: 0.2rem solid orange;
    background-color: black;
    color: whitesmoke;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
  }
  textarea:focus{
    transition: 500ms;
    box-shadow: 0rem 0rem 1rem #fb8600d8;
    text-shadow: 0rem 0rem 0.1rem white;
  }
  textarea:hover{
    transition: 500ms;
    box-shadow: 0rem 0rem 1rem #fb8600d8;
    text-shadow: 0rem 0rem 0.1rem white;
  }


  header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  div{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    
  }
  label{
    color: orange;
    margin-bottom: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
  }
  fieldset{
    border-radius: 1rem;
  }
  .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem;

   
  }
  .entry{
    display: flex;
    align-items: self-start;
    justify-content: center;
    padding: 1rem;
  }
  button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    color: antiquewhite;
    cursor: pointer;
    margin-top:1rem;
    width: 6rem;
    height: 1.7rem;
    background-color: orange;
  }
  button:hover{
    transition: 500ms;
    box-shadow: 0rem 0rem 0.5rem #fb8600d8;
    text-shadow: 0rem 0rem 0.1rem white;
  }
  #ag{
    transition: 300ms;
    margin-left: 0;
    background-color: #fb8500;
    border: 0;
    border-radius: 1rem;
}
</style>